<div class="container">
    <header>
        <h2>Welcome to Routing WebApp</h2>
    </header>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active"> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about"> About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="directives"> Directives</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="pipe"> Pipes</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
